<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPosts {% block title %} {% endblock title %}</title>

    <!-- Estilos de bootstrap y de app -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">    
    {% block css %} {% endblock css %}
        
</head>

<body>

    
    {% for message in get_flashed_messages() %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert {% block message %} alert-danger {% endblock message %}" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>            
    {% endfor %}
    
    
    {% block content %}
        
    {% endblock content %}

    {{ ckeditor.load() }}

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>
</body>

</html>